.introduction{
    display: contents; 
    justify-content: center; 
    display: flex;
    margin-top: 4%;
    gap: 7%;
}
h1{
    font-size: 60px;
    /* margin-top: 20%; */
    margin-left: 30%;
}
h2{
    font-size: 30px;
    margin-left: 30%;
}
body{
    background-color: rgb(92, 43, 226);

    
}


.about{
    display: contents;
    /* display: flex; */
    /* text-align: center; */
    justify-content: center;
    gap: 10%;
    width: 50%;

}
.about p{
    font-size: 25px;
    width: 30%;
    margin-left: 33%;





}
.jango{
    border-radius: 50%;
    width: 480px;
    height: 480px;
    /* margin-bottom: 6%; */
  
}
.skills{
    /* display: contents;
    justify-content: center;
    text-align: center;
    width: 20%; */

}
.skills p{
    font-size: 24px;
    width: 100%;
}
.skills h3{
    margin-right: 20%;


}
.mooo{
    height: 400px;
    width: 400px;
    border-radius: 100%;
}
.skillsimage{
    justify-content: center;
    display: flex;
    gap: 10%;
    
   
}

@media (min-width:280px) and (max-width:360px){
    .introduction{
        flex-wrap: wrap;
        

 
        gap: 7%;
    }
    h1{
        font-size: 12px;
        /* margin-top: 20%; */
        text-align: center;
    }
    h2{
        font-size: 15px;
    }
    
 
    .about{
        display: contents;
        /* display: flex; */
        text-align: center;
        justify-content: center;
        gap: 10%;
        width: 50%;
    
    }
    .about p{
        font-size: 10px;
    
    }
    .jango{
        border-radius: 50%;
        width: 180px;
        height: 180px;
        /* margin-bottom: 6%; */
      
    }
    .skills{
        display: contents;
        justify-content: center;
        text-align: center;
        width: 20%;
    
    }
    .skills p{
        font-size: 5px;
    }
    
  

}
